.stand-button {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background: transparent;
  border: 1px solid transparent;
}
.stand-button:hover{
  background: #fdeeb3;
  border: 1px solid #F1C43F;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}
.stand-button-text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.stand-button-disable {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background: transparent;
  border: 1px solid transparent;
  -webkit-filter: grayscale(1);/* Webkit */
  filter:gray;/* IE6-9 */
  filter: grayscale(1);/* W3C */
  opacity: 0.8;
}
